services:
    nginx:
        build:
            context: docker
            dockerfile: nginx/Dockerfile
        ports:
            - "80:80"
        volumes:
            - ./:/app
        networks:
            - default
        depends_on:
            - php-fpm

    php-fpm:
        build:
            context: docker
            dockerfile: php-fpm/Dockerfile
            args:
                GID: ${GID:-1000}
                UID: ${UID:-1000}
        volumes:
            - ./:/app
        depends_on:
            postgres:
                condition: service_healthy

    php-cli:
        build:
            context: docker
            dockerfile: php-cli/Dockerfile
            args:
                GID: ${GID:-1000}
                UID: ${UID:-1000}
        user: "${UID:-1000}:${GID:-1000}"
        volumes:
            - ./:/app
        depends_on:
            postgres:
                condition: service_healthy

    postgres:
        image: postgres:17.7-alpine3.22
        environment:
            POSTGRES_USER: ${POSTGRES_USER:-app}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-pass}
            POSTGRES_DB: ${POSTGRES_DB:-app}
        volumes:
            - postgres:/var/lib/postgresql/data
        ports:
            - "5432:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -d ${POSTGRES_DB:-app} -U ${POSTGRES_USER:-app}"]
            interval: 5s
            timeout: 5s
            retries: 5
            start_period: 10s

volumes:
    postgres:
